<div class="container">
  <h2>Detalle del Producto</h2>
  <form>
    <div class="form-group">
      <label for="code">Codigo:</label>
      <input *ngIf="form.code" type="text" class="form-control" name="code" [(ngModel)]="form.code" [disabled]=true>
    </div>
    <div class="form-group">
      <label for="name">Nombre:</label>
      <input *ngIf="form.name" type="text" class="form-control" name="name" [(ngModel)]="form.name" [disabled]=true>
    </div>
    <div class="form-group">
      <label for="price">Precio:</label>
      <input type="text" class="form-control" name="price" [(ngModel)]="form.price" [disabled]=true>
    </div>
    <div class="form-group">
      <label for="quantity">Cantidad:</label>
      <input type="number" class="form-control" id="quantity" name="quantity" [(ngModel)]="form.quantity" [disabled]=true>
    </div>
    <div class="form-group">
      <label for="categories">Categoria:</label>
      <input *ngIf="form.categories" type="text" class="form-control" name="categories" [(ngModel)]="form.categories.name" [disabled]=true>
    </div>
    <div class="form-group">
      <button type="button" [routerLink]="['/home', 'update', form.id]" class="btn btn-primary">Editar Producto</button>
    </div>
  </form>
</div>
