<div class="container">
  <h2>Editar Producto</h2>
  <form (ngSubmit)="updateProduct()">
    <div class="form-group">
      <label for="code">Codigo (*)</label>
      <input type="text" class="form-control" value="{{ form.code }}" name="code" [(ngModel)]="form.code" placeholder="Ingrese codigo (*)">
      <span *ngIf="stockError.code" class="text text-danger">{{ stockError.code }}</span>
    </div>
    <div class="form-group">
      <label for="name">Nombre (*)</label>
      <input type="text" class="form-control" value="{{ form.name }}" name="name" [(ngModel)]="form.name" placeholder="Ingrese nombre (*)">
      <span *ngIf="stockError.name" class="text text-danger">{{ stockError.name }}</span>
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input type="number" class="form-control" value="{{ form.price }}" name="price" [(ngModel)]="form.price" placeholder="Ingrese precio">
      <span *ngIf="stockError.price" class="text text-danger">{{ stockError.price }}</span>
    </div>
    <div class="form-group">
      <label for="quantity">Cantidad</label>
      <input type="number" class="form-control" value="{{ form.quantity }}" name="quantity" [(ngModel)]="form.quantity" placeholder="Ingrese cantidad">
      <span *ngIf="stockError.quantity" class="text text-danger">{{ stockError.quantity }}</span>
    </div>

    <div class="form-group">
      <label for="categories">Categoria (*)</label>
      <ng-select
        name="categories"
        [(ngModel)]="form.categories"
        [items]="categories"
        bindLabel="verbose_name">
      </ng-select>
      <span *ngIf="stockError.categories" class="text text-danger">{{ stockError.categories }}</span>
    </div>

    <button type="submit" class="btn btn-primary">Editar Producto</button>
  </form>
</div>
