<div class="col-lg-3 col-12 mx-auto">
	<form>
		<fieldset>
			<h2 class="h3 mb-3 font-weight-normal text-center">Iniciar sesión</h2>
			<div class="form-group">
				<input [(ngModel)]="form.username" name="username" type="text" class="form-control" placeholder="Nombre de usuario">
				<span *ngIf="loginError.username" class="text text-danger">{{ loginError.username }}</span>
			</div>
			<div class="form-group">
				<input [(ngModel)]="form.password" name="password" type="password" class="form-control" placeholder="Password">
        <span *ngIf="loginError.password" class="text text-danger">{{ loginError.password }}</span>
      </div>
			<div *ngIf="loginError.non_field_errors">
				<span class="text text-danger">{{ loginError.non_field_errors }}</span>
			</div>
			<button [disabled]="!form.username || !form.password" (click)="login()" type="submit" class="btn btn-primary btn-block">Ingresar</button>
			<br>
			<br>
		</fieldset>
	</form>
</div>
