<div class="container">
  <h2>Crear Item</h2>
  <form (ngSubmit)="createStock()">
    <div class="form-group">
      <label for="code">Codigo (*)</label>
      <input type="text" class="form-control" id="code" placeholder="Ingrese codigo (*)" name="code" [(ngModel)]="form.code">
      <span *ngIf="stockError.code" class="text text-danger">{{ stockError.code }}</span>
    </div>
    <div class="form-group">
      <label for="name">Nombre (*)</label>
      <input type="text" class="form-control" id="name" placeholder="Ingrese nombre (*)" name="name" [(ngModel)]="form.name">
      <span *ngIf="stockError.name" class="text text-danger">{{ stockError.name }}</span>
    </div>
    <div class="form-group">
      <label for="price">Precio:</label>
      <input type="number" class="form-control" id="price" placeholder="Precio" name="price" [(ngModel)]="form.price">
      <span *ngIf="stockError.price" class="text text-danger">{{ stockError.price }}</span>
    </div>
    <div class="form-group">
      <label for="quantity">Cantidad:</label>
      <input type="number" class="form-control" id="quantity" placeholder="Cantidad" name="quantity" [(ngModel)]="form.quantity">
      <span *ngIf="stockError.quantity" class="text text-danger">{{ stockError.quantity }}</span>
    </div>
    <div class="form-group">
      <label for="categories">Categoria (*)</label>
      <ng-select
        [items]="categories"
        bindLabel="verbose_name"
        placeholder="Categorias (*)"
        [(ngModel)]="form.categories"
        name="categories"
        (data)="filterCategory($event)">
      </ng-select>
      <span *ngIf="stockError.categories" class="text text-danger">{{ stockError.categories }}</span>
    </div>
    <button type="submit" class="btn btn-primary">Crear Producto</button>
  </form>
</div>
