<div class="container">
  <br>

  <div *ngIf="confirmation" class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Producto Eliminado!</strong> El producto seleccionado fue eliminado exitosamente.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <h2>Listado de Items</h2>

  <form class="form-inline">
    <div class="input-group mb-2 mr-sm-2">
      <div class="input-group-prepend">
        <div class="input-group-text">Search</div>
      </div>
      <input [(ngModel)]="filterName" name="filterName" type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Search...">
    </div>
  </form>

  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>CODIGO</th>
        <th>NOMBRE ITEM</th>
        <th>PRECIO UNITARIO</th>
        <th>CANTIDAD EN STOCK</th>
        <th>CANTEGORIA</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of dataSource | filter:filterName">
        <td [routerLink]="['/home', 'detail', element.id]">{{ element.code }}</td>
        <td [routerLink]="['/home', 'detail', element.id]">{{ element.name }}</td>
        <td [routerLink]="['/home', 'detail', element.id]">{{ element.price }}</td>
        <td [routerLink]="['/home', 'detail', element.id]">{{ element.quantity }}</td>
        <td [routerLink]="['/home', 'detail', element.id]">{{ element.categories.name }}</td>
        <td>
          <button class="btn btn-danger" (click)="confirmDeleted(element.id)" data-toggle="modal" data-target="#exampleModalCenter">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Eliminar Producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Realmente desea eliminar el producto?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
        <button (click)="deleteProduct()" type="button" class="btn btn-danger" data-dismiss="modal">Eliminar</button>
      </div>
    </div>
  </div>
</div>