

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" [routerLink]="['/home']">
    <img src="https://www.fightersgeneration.com/np9/characters/magneto-xmen-vs-streetfighter.jpg" alt="logo" style="width:40px;">
  </a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/home/create']">Crear</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/home/list']">Listar</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

